// navigation
header {
  position: relative;
  background: $primary;
  height: 85px;
  width: 100%;
  padding: 10px 20px;
  z-index: 10;

  .header--mobile{
    display: none;
  }

  .header--desktop{
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index: 8;
  }


  h3 {
    display: inline-block;
    color: $white;
  }

  ul {
    float: right;
    text-align: right;
    

    li {
      margin-top: 4px;
      margin-left: 6px;

      a {
        display: block;
        padding: 5px;
        color: $white;
      }
    }
  }
}
@media screen and (max-width: 542px) {
  header{
    position: fixed;
    bottom: 0px;
    background: white;
    border-top: 1px solid #F4F4F4;
    padding: 20px 20px;
    .header--desktop{
      display: none
    }
    .header--mobile{
      display: block;
      width: 100%;
      height: 90%;
      ul{
        display: flex;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: space-between;
        li{
          .router-link-active, .router-link-exact-active{
            fill: $primary
          }
        }
      }
    }
  }
}